---
layout: blog_default
---

<div class="col-md-12">
  <div class="page-content blog-content" id="content">
    <div class="post-data">
      <div class="container blog-container">
        {% for post in site.posts %}
        <div class="col-md-4 col-xs-12 post-item">
          <div class="post-list">
            <div class="single-post">
              <div class="post-style">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <a href="{{ post.url | prepend: site.baseurl }}">
                        <figure>
                          {% assign cat = post.categories | first %}
                          {% assign image = site.blog.categories[cat].image %}
                          <img src="{{ image }}" alt="Imagen de {{ post.categories }}">
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 data-container">
                      <div class="row">
                        <div class="col-md-12 post-categories">
                          <span class="label label-post {{ post.categories | array_to_sentence_string | slugify: 'raw' }}">{{ post.categories }}</span>
                        </div>
                      </div>
                      <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                      </h2>
                      <div class="row">
                        <div class="col-md-12">
                          <h5 class="post-author">
                            <span class=""><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>  
                          </h5>
                        </div>
                      </div>

                      <div class="post-content-truncate">
                        {% if post.content contains "<!-- more -->" %}
                        {{ post.content | split:"<!-- more -->" | first | remove_first: post.title }}
                        {% else %}
                        {{ post.content | strip_html | truncatewords:20 | remove_first: post.title }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
