
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll navbar-center" id="sectionsNav">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="col-md-12 navbar-center navbar-brand">
          <a class="" href='/' target="_top">
            <object class="blog-branding" data="/images/onlyBrand.svg" type="image/svg+xml">
              <img src="/images/onlyBrand.png" alt="Mikroways" class="logo-mikroways">
            </object>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  <!-- </div> -->
</nav>