<section id="clientes"> <!-- Ancla para navegar por la web -->

    <div class="sp-slideshow">
      <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
      <label for="button-1" class="button-label-1"></label>
      
      <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
      <label for="button-2" class="button-label-2"></label>
      
      <label for="button-1" class="sp-arrow sp-a1"></label>
      <label for="button-2" class="sp-arrow sp-a2"></label>
      
  <h1 class="page-heading" id="partnership-title">NUESTROS <b>CLIENTES</b></h1>
      <div class="sp-content">
        <div class="sp-parallax-bg"></div>
          <ul class="sp-slider clearfix">
            <li>
              <div class="row clients-row">
                <div class="col-md-2 clients-link">
                  <a href="#inta"><img src="/images/inta_color_client.png" alt="image01"></a>
                </div>
                <div class="col-md-2 clients-link">
                   <a href="#fecliba"><img src="/images/fecliba_color_client.png" alt="image01"></a>
                </div>
                <div class="col-md-2 clients-link">
                   <a href="#senasa"><img src="/images/senasa_color_client.png" alt="image01"></a>
                </div>
                <div class="col-md-2 clients-link">
                   <a href="#uom"><img src="/images/uom_color_client.png" alt="image01"></a>
                </div>
                <div class="col-md-2 clients-link">
                   <a href="#acofar"><img src="/images/acofar_color_client.png" alt="image01"></a>
                </div>
                <div class="col-md-2 clients-link">
                   <a href="#ecomania"><img src="/images/ecomania_color_client.png" alt="image01"></a>
                </div>
              </div>
            </li>
            <li>
              <div class="row clients-row">
                <div class="col-md-2 clients-link">
                  <a href=""><img src="/images/qk_color_client.png" alt="image02"></a>
                </div>
                <div class="col-md-2 clients-link">
                  <a href=""><img src="/images/bioguia_color_client.png" alt="image02"></a>
                </div>
                <div class="col-md-2 clients-link">
                  <a href=""><img src="/images/urgente_color_client.png" alt="image02"></a>
                </div>
              </div>
            </li>
          </ul>
      </div><!-- sp-content --> 
    </div><!-- sp-slideshow -->

</section>