<a href="#" name="clientes"></a> <!-- Ancla para navegar por la web -->
<div class="page-content ">
  <div class="wrapper ">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">NUESTROS <b>CLIENTES</b></h1>
      </div>
    </div>
    <div class="row clients-row">
      <div class="col-md-3 clients-link">
        <object class="clients" data="/images/inta_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#"> INTA </a><i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-3">
        <object class="clients" data="/images/fecliba_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Fecliba <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3">
       <object class="clients" data="/images/senasa_client.svg" type="image/svg+xml"></object>
       <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Senasa <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <object class="clients" data="/images/uom_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> UOM <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="row clients-row">
      <div class="col-md-3 clients-link">
        <object class="clients" data="/images/ecofar_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#"> Ecofar </a><i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-3">
        <object class="clients" data="/images/ecomania_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ecomanía <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3">
       <object class="clients" data="/images/qk_studio_client.svg" type="image/svg+xml"></object>
       <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Qk Studio <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <object class="clients" data="/images/la_bio_guia_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> La Bioguía <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="row clients-row">
      <div class="col-md-3 clients-link">
        <object class="clients" data="/images/urgente_24_client.svg" type="image/svg+xml"></object>
        <div class="row">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#"> Urgente 24 </a><i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>