<section id="clientes">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <span><h1 class="page-heading">{% t common_words.our_male %} <b>{% t menu.clients %}</b></h1>
    </div></span>
  </div>
  <div class="wrapper">
    <div class="col-md-10 col-md-offset-1 brands col-xs-12">

        <div class="clients-brand">
           <a><img src="/images/clients/senasa.png" alt="Senasa"></a>
        </div>
        <div class="clients-brand">
          <a><img src="/images/clients/inta.png" alt="INTA"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/edelap.png" alt="Edelap"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/uom.png" alt="UOM"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/fecliba.png" alt="Fecliba"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/acofar.png" alt="Acofar"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/ecomania.png" alt="Ecomania"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/urgente24.png" alt="Urgente24"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/qk.png" alt="QkStudio"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/5deseptiembre.png" alt="5deSeptiembre"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/artdecode.png" alt="Artdecode"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/ministerio_industria.png" alt="Ministerio de Industria"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/elrural.png" alt="El Rural"></a>
        </div>
        <div class="clients-brand">
           <a><img src="/images/clients/bioguia.png" alt="La Bioguia"></a>
        </div>
    </div>
  </div>
</section>
