<section id="empresa"> <!-- Ancla para navegar por la web -->
<div class="page-content company-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">NUESTROS <b>OBJETIVOS</b></h1>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row company-columns">
        <div class="col-md-1">
          <i class="fa fa-signal signal" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>
            Lograr que la infraestructura de TI de nuestros clientes <b>funcione correctamente</b> en el presente y que, a su vez, tenga la <b>capacidad de adaptarse</b> a las necesidades futuras, acompañando el crecimiento de la organización.
          </p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-trophy trophy" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>
            <b>Generar vínculos</b> humanos y de confianza con nuestros clientes, que nos permitan <b>trabajar de forma conjunta</b> y armoniosa, pudiendo establecer relaciones que perduren una vez finalizadas nuestras tareas.
          </p>
        </div>
      </div>
      <div class="row company-columns">
        <div class="col-md-1">
          <i class="fa fa-users users" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>
            Que nuestra empresa sea conocida por la <b>calidad</b> y el <b>cumplimiento</b> de sus trabajos.
          </p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-bullhorn bullhorn" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>
            Poder captar nuevos clientes en base a <b>recomendaciones</b> y casos de éxito <b>demostrables.</b>
          </p>
        </div>    
      </div>
    </div>
  </div>
</div>
</section>
{% include the_team.html %}