<section id="empresa"> <!-- Ancla para navegar por la web -->
<div class="page-content company-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading-company" id="qp-title"><b>{% t company.quality_policy.title %}</b></h1>
      </div>
      <div class="col-md-12">
      <div class="row company-columns">
        <p id="qp">{% t company.quality_policy.statement %}</p>
      </div>
      </div>
      <div class="col-md-12">
        <h1 class="page-heading-company">{% t common_words.our_male %} <b>{% t common_words.objectives %}</b></h1>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row company-columns">
        <div class="col-md-1">
          <i class="fa fa-signal signal" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>{% t company.objectives.first %}</p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-trophy trophy" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>{% t company.objectives.second %}</p>
        </div>
      </div>
      <div class="row company-columns bottom">
        <div class="col-md-1">
          <i class="fa fa-users users" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>{% t company.objectives.third %}</p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-bullhorn bullhorn" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
          <p>{% t company.objectives.fourth %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include the_team.html %}
</section>
