<section id="empresa"> <!-- Ancla para navegar por la web -->
<div class="page-content company-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">NUESTRA <b>EMPRESA</b></h1>
      </div>
    </div>
    <h3 class="company-steps">Objetivos.</h3>
    <div class="row company-columns">
      <div class="col-md-6">
        <ul>
          <li>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Lograr que la infraestructura de TI de nuestros clientes funcione correctamente en el presente y que, a su vez, tenga la capacidad de adaptarse a las necesidades futuras, acompañando el crecimiento de la organización.
          </li>
          <li>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Que nuestra empresa sea conocida por la calidad y el cumplimiento de sus trabajos.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Generar vínculos humanos y de confianza con nuestros clientes, que nos permitan trabajar de forma conjunta y armoniosa, pudiendo establecer relaciones que perduren una vez finalizadas nuestras tareas.
          </li>
          <li>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Poder captar nuevos clientes en base a recomendaciones y casos de éxito demostrables.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
