<a href="#" name="contacto"></a>
<div class="map-style">
	<div class="row">
		<div class="col-md-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.7811318263302!2d-57.96037598259943!3d-34.911941699024084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e635857be349%3A0x38f59903da336f5d!2sMikroways!5e0!3m2!1ses-419!2sar!4v1460848017812" ></iframe>
		</div>
	</div>
<div class="col-md-12" id="contact-us">
	<div class="wrapper ">
		<div class="contact-box">
			<h1 class="title"> ¡CONTACTANOS! </h1>
			<div class="row contact-data">
				<div class="col-md-4">
					<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> + 54.221.447.3084</p>
				</div>
				<div class="col-md-4">
					<p class="verticaline"><i class="fa fa-envelope" aria-hidden="true"></i> contacto@mikroways.net</p>	
				</div>
				<div class="col-md-4">
					<p class="verticaline"><i class="fa fa-heart" aria-hidden="true"></i> mikroways.net</p>
				</div>
			</div>
			<form class="form-horizontal">
			  <fieldset>
			    <div class="row form-group">
			      <div class="col-md-6">
			        <input type="text" class="form-control" id="name" placeholder="Nombre">
			      </div>
			      <div class="col-md-6">
			        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
			      </div>
			    </div>
			    <div class="row form-group">
			      <div class="col-md-6">
			        <input type="email" class="form-control" id="email" placeholder="Email">
			      </div>
			      <div class="col-md-6">
			        <input type="telephone" class="form-control" id="telefono" placeholder="Telefono">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-md-12">
			        <textarea class="form-control" rows="7" id="comment" placeholder="¡Dejanos tu comentario!"></textarea>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-md-12">
			        <button type="button" class="btn btn-lg btn-default cancel-button">Cancel</button>
			        <button type="submit" class="btn btn-lg btn-succes submit-button">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
			</div>
		</div>
	  <div class="row">
      <div class="col-md-12 footer-chevron-up">
        <a href="#home"><i class="glyphicon glyphicon-chevron-up chevron-down" aria-hidden="true"></i></a>
      </div>
    </div>
	</div>