<footer class="site-footer">
  <section id="pie-de-pagina">
    <div class="wrapper">

      <div class="row">
        <div class="col-md-12">

          <div class="col-md-2 logotype hidden-xs">
            <h2 class="footer-heading">
              <a class="svg" href="/" target="_top" >
                <object class="logo-mikroways-blanco-footer" data="/images/mikroways-blanco.svg" type="image/svg+xml">
                  <img src="/images/mikroways-blanco.png" alt="Mikroways" class="logo-mikroways-blanco" style="width: 250px;"/>
                </object>
              </a>
            </h2>
          </div>
        
          <div class="col-md-5 footer-menu-service footer-menu hidden-xs">
            <ul>
              <li><a href="/#servicios">{% t menu.services %}</a></li>
              <li><a href="/#alianzas">{% t menu.partnerships %}</a></li>
              <li><a href="/#clientes">{% t menu.clients %}</a></li>
              <li><a href="/#empresa">{% t menu.company %}</a></li>
              <li><a href="/blog" target="_blank"><strong>{% t menu.blog %}</strong></a></li>
            </ul>
          </div>

          <div class="col-md-4 footer-icons text-center">
            <ul>
              <li>
                <a href="{{ site.social.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{ site.social.telegram }}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{ site.social.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{ site.social.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-1 footer-chevron-up text-right">
            <a href="#home">
              <i class="glyphicon glyphicon-chevron-up chevron-down" aria-hidden="true"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

</footer>
