<a href="#" name="pie-de-pagina"></a>
<footer class="site-footer">
  <div class="wrapper">
    <div class="row  footer-style">
      <div class="row">
        <div class="col-md-12 footer-chevron-up">
          <a href="#home"><i class="glyphicon glyphicon-chevron-up chevron-down" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-9 footer-menu">
        <div class="col-md-2 footer-menu-service">
          <ul class="social-media-list">
            <li>
              <a href="#servicios"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> SERVICIOS</a>
            </li>
            <li>
              <a href="#alianzas"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> ALIANZAS</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer-menu-service">
          <ul class="social-media-list">
            <li>
              <a href="#tecnologias"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> TECNOLOGÍAS</a>
            </li>
            <li>
              <a href="#clientes"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> CLIENTES</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 footer-menu-company">
          <ul class="social-media-list">
            <li>
              <a href="#la-empresa">LA EMPRESA</a>
            </li>
            <li>
             <li>   
              <a href="#contacto">CONTACTO</a>
            </li>
              <a href="http://mikroways.net/blog">BLOG</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 logotype">
        <h2 class="footer-heading">
          <object class="mikroways-footer" data="/images/mikroways-blanco.svg" type="image/svg+xml"></object>
        </h2>
        <ul class="social-media-list icons-footer">
          <li>
            <a href="https://twiter.com/mikroways"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://linkedin.com.ar"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://github.com/mikroways"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://facebook.com/mikroways"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</footer>
