<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      <object class="partnerships" data="/images/mikroways-blanco.svg" type="image/svg+xml"></object>
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li></li>
          <li></li>
          <li>
            <object class="partnerships" data="/images/facebook.svg" type="image/svg+xml"></object>
            <object class="partnerships" data="/images/twitter.svg" type="image/svg+xml"></object>
            <object class="partnerships" data="/images/linkedin.svg" type="image/svg+xml"></object>
            <object class="partnerships" data="/images/github.svg" type="image/svg+xml"></object>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            SERVICIOS
          </li>
          <li>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <p></p>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <script src="http://code.jquery.com/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</footer>
