    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="38">
      <div class="main-menu">
        <ul>
          <!--      <li class="menu-item"><a href="#home">INICIO</a></li> -->
          <li class="menu-item"><a href="#">SERVICIOS</a></li>
          <li class="menu-item"><a href="#">ALIANZAS</a></li>
          <li><a href="#"><object class="logo-mikroways" data="/images/mikroways.svg" type="image/svg+xml"></object></a></li>
          <li class="menu-item"><a href="#">TECNOLOGÍAS</a></li>
          <li class="menu-item"><a href="#">CLIENTES</a></li>
          <!--<li class="menu-item"><a href="#">LA EMPRESA</a></li> -->
          <!--          <li class="menu-item"><a href="#">CONTACTO</a></li> -->
          <!--<li class="menu-item"><a href="#">BLOG</a></li> -->
        </ul>
      </div>
    </nav>
