<nav class="navbar navbar-default" data-spy="affix" data-offset-top="38">
  <div class="main-menu">
    <ul>
      <li class="menu-item"><a href="#servicios">SERVICIOS</a></li>
      <li class="menu-item"><a href="#alianzas">ALIANZAS</a></li>
      <li>
        <a id="logo-mikroways-superior" class="svg1" href="#" target="_top">
          <object class="logo-mikroways" data="/images/mikroways.svg" type="image/svg+xml">
            <img src="/images/mikroways.png" alt="Mikroways" class="logo-mikroways">
          </object>
        </a>
      </li>
      <li class="menu-item"><a href="#clientes">CLIENTES</a></li>
      <li class="menu-item"><a href="#empresa">LA EMPRESA</a></li>
    </ul>
  </div>
</nav>
