<nav class="navbar navbar-default hidden-xs" data-spy="affix" data-offset-top="38">
  <div class="main-menu">
    <ul>
      <li class="menu-item"><a href="#servicios">{% t menu.services %}</a></li>
      <li class="menu-item"><a href="#alianzas">{% t menu.partnerships %}</a></li>
      <li class="hidden-xs">
        <a id="logo-mikroways-superior" class="svg1" href="#" target="_top">
          <object class="logo-mikroways-blanco" data="/images/mikroways.svg" type="image/svg+xml">
            <img src="/images/mikroways.png" alt="Mikroways">
          </object>
        </a>
      </li>
      <li class="menu-item"><a href="#clientes">{% t menu.clients %}</a></li>
      <li class="menu-item"><a href="#empresa">{% t menu.company %}</a></li>
    </ul>
  </div>
</nav>
