 <!-- jQuery Version 1.11.0 -->
  <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

  <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ "/js/mikroways.js" | prepend: site.baseurl }}"></script>

  <!-- Formspree JS to use AJAX -->
  <script src="{{ "/js/formspree.js" | prepend: site.baseurl }}"></script>

  <!-- Validation -->
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="{{ "/js/jquery-validation-messages.js" | prepend: site.baseurl }}"></script>

  <!-- Typed.js -->
  <script src="{{ "/js/typed.js" | prepend: site.baseurl }}"></script>

  <!-- Google Analytics tracking code -->
  <script src="{{ "/js/analytics.js" | prepend: site.baseurl }}"></script>
