{% if include.type == 'homepage' %}
<nav class="col-md-12 text-center" data-offset-top="38">
  <div class="main-menu-index">
{% else %}
<nav class="navbar navbar-default hidden-xs" data-spy="affix" data-offset-top="38">
  <div class="main-menu">
{% endif %}
    <ul>
      <li class="menu-item hidden-sm hidden-xs"><a href="#servicios">{% t menu.services %}</a></li>
      <li class="menu-item hidden-sm hidden-xs"><a href="#alianzas">{% t menu.partnerships %}</a></li>
      <li class="hidden-xs">
        {% if include.type == 'homepage' %}
        <a id="logo-mikroways-superior" class="svg1">
        {% else %}
        <a id="logo-mikroways-superior" class="svg1" href="#top" target="_top">
        {% endif %}
          <object class="logo-mikroways-blanco" data="/images/{{ include.image_name }}.svg" type="image/svg+xml">
            <img src="/images/{{ include.image_name }}.png" alt="Mikroways">
          </object>
        </a>
      </li>
      <li class="menu-item hidden-sm hidden-xs"><a href="#clientes">{% t menu.clients %}</a></li>
      <li class="menu-item hidden-sm hidden-xs"><a href="#empresa">{% t menu.company %}</a></li>
    </ul>
  </div>
</nav>
