<section id="alianzas"> <!-- Ancla para navegar por la web -->
  <div class="alianzas">
    <div class="row">
      <h1 class="page-heading">NUESTRAS <b>ALIANZAS</b></h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 chef-partner">
          <div class="col-md-3">
            <object class="partnerships" data="/images/chef.svg" type="image/svg+xml" target="_blank"></object>
          </div>
          <div class="col-md-9">
            <h3 class="partner-title">Chef</h3>
            <div class="columns">
              <p> Somos la primer y única empresa Argentina en tener la representación de Chef, una compañía que ha sabido establecerse como líder en el segmento de la gestión automatizada
              de la infraestructura. Por medio de esta alianza, contamos con el respaldo de Chef para realizar nuestras implementaciones y con el aval para dictar sus cursos en español.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 amazon-partner">
          <div class="col-md-3">
            <object class="partnerships" data="/images/amazon.svg" type="image/svg+xml"></object>
          </div>
          <div class="col-md-9">
            <h3 class="partner-title">Amazon</h3>
            <div class="columns">
              <p> Con AWS, Amazon se ha transformado en la compañía por excelencia en lo que respecta a servicios de computación en la nube y constituye una plataforma económica, estable y
              escalable, ideal para organizaciones en crecimiento o que no quieran afrontar los costos y la complejidad de mantener una infraestructura propia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
