<div class="alianzas">
  <div class="row">
    <div class="col-md-12 chef-partner">
      <a href="#" name="alianzas"></a> <!-- Ancla para navegar por la web -->
      <div class="row">
        <div class="col-md-4">
          <object class="partnerships" data="/images/chef.svg" type="image/svg+xml"></object>
        </div>
        <div class="col-md-8">
          <h3 class="partner-title">Chef</h3>
          <div class="columns">
            <p> Según su tamaño, cada organismo podrá tener diferentes volúmenes de información y requisitos de performance en el acceso  información y requisitos de performance en el.
            Según su tamaño, cada organismo podrá tener diferentes volúmenes de información y requisitos de performance en el acceso  información y requisitos de performance en el.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Termina Chef partner-->
  <div class="row">
    <div class="col-md-12 amazon-partner">
      <a href="#" name="alianzas"></a> <!-- Ancla para navegar por la web -->
      <div class="row">
        <div class="col-md-4">
          <object class="partnerships" data="/images/amazon.svg" type="image/svg+xml"></object>
        </div>
        <div class="col-md-8">
          <h3 class="partner-title">Amazon</h3>
          <div class="columns">
            <p> Según su tamaño, cada organismo podrá tener diferentes volúmenes de información y requisitos de performance en el acceso  información y requisitos de performance en el.
            Según su tamaño, cada organismo podrá tener diferentes volúmenes de información y requisitos de performance en el acceso  información y requisitos de performance en el.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>