<div class="single-post">
  <div class="post-style">
    <li>
      <div class="row">
        <div class="col-md-12">
          <figure>
            <img src="{{ post.img }}" alt="Chef" class="">
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 post-categories">
              <span class="label label-post {{ post.categories }}">{{ post.categories }}</span>
            </div>
          </div>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <div class="row">
            <div class="col-md-12">
              <h5 class="post-author">
                <span class="">{{ post.date | date: "%d-%m-%Y" }}</span>  
              </h5>
            </div>
          </div>

          <div class="post-content-truncate">
            {% if post.content contains "<!-- more -->" %}
              {{ post.content | split:"<!-- more -->" | first % | remove_first: post.title }}
            {% else %}
              {{ post.content | strip_html | truncatewords:10 | remove_first: post.title }}
            {% endif %}
          </div>
        </div>
      </div>
    </li>
  </div>
</div>
