<section id="servicios">
  <div class="servicios">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">NUESTROS <b>SERVICIOS</b></h1>
      </div>
    </div>
    <div class="row service-row">

      <div class="col-md-4 service devops">
        <i class="glyphicon glyphicon-cog devops"></i>
        <h2 class="devops">DEVOPS</h2>
        <p>Aplicando metodologías ágiles en TI, buscamos estandarizar y automatizar procesos para brindar soluciones de alta calidad, aumentando la productividad y reduciendo costos y tiempos de respuesta.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="devops"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 service">
        <i class="glyphicon glyphicon-tasks computacion"></i>
        <h2 class="computacion">COMPUTACIÓN EN LA NUBE</h2>
        <p>El acceso a recursos de computación de forma elástica, permite a las organizaciones contar con la infraestructura necesaria en todo momento, optimizando costos y reduciendo los esfuerzos en la gestión de su infraestructura.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="computacion"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 service">
        <i class="glyphicon glyphicon-briefcase consultoria"></i>
        <h2 class="consultoria">CONSULTORÍA</h2>
        <p>Por medio de un análisis detallado de cada caso específico, logramos diseñar e implementar soluciones profesionales a la medida de nuestros clientes.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="consultoria"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <i class="glyphicon glyphicon-comment outsourcing"></i>
        <h2 class="outsourcing">OUTSOURCING</h2>
        <p>Nuestros clientes logran potenciar su propio negocio al concentrar sus esfuerzos en el mismo, confiando la gestión de su infraestructura de TI al equipo de profesionales de Mikroways.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="outsourcing"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 service">
        <i class="glyphicon glyphicon-signal monitoreo"></i>
        <h2 class="monitoreo">MONITOREO</h2>
        <p>Mediante un sistema de alertas tempranas y con la recolección de estadísticas y generación de métricas, Mikroways ayuda a que sus clientes puedan tomar decisiones informadas y actuar de forma proactiva para evitar potenciales problemas.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="monitoreo"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 service">
        <i class="glyphicon glyphicon-education capacitacion"></i>
        <h2 class="capacitacion">CAPACITACIÓN</h2>
        <p>Mikroways provee servicios de capacitación para personal de sistemas en todos los ámbitos que desarrolla, pudiendo adaptar cada curso según las necesidades particulares.</p>
        <div class="row">
          <div class="col-md-10 text-right">
            <a href="#" class="capacitacion"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>