<section id="servicios">
  <div class="wrapper ">
    <div class="servicios">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <span><h1 class="page-heading-service">{% t common_words.our_male %} <b>{% t menu.services %}</b></h1></span>
        </div>
      </div>
      <div class="row service-row">


        <div class="col-lg-4 col-md-4 col-xs-12 service devops">
          <i class="glyphicon glyphicon-cog devops"></i>
          <h3 class="service-number">01</h3>
          <h2 class="devops">{% t services.devops.name %}</h2>
          <p class="col-xs-12 col-md-12">{% t services.devops.short %}</p>
        </div>


        <div class="col-md-4 col-xs-12 service">
          <i class="glyphicon glyphicon-tasks computacion"></i>
          <h3 class="service-number">02</h3>
          <h2 class="computacion col-md-12 col-xs-6">{% t services.cloud_computing.name %}</h2>
          <p class="col-md-12 col-xs-12">{% t services.cloud_computing.short %}</p>
        </div>

        <div class="col-md-4 col-xs-12 service">
          <i class="glyphicon glyphicon-briefcase consultoria"></i>
          <h3 class="service-number">03</h3>
          <h2 class="consultoria">{% t services.consultancy.name %}</h2>
          <p class="col-xs-12 col-md-12">{% t services.consultancy.short %}</p>
        </div>

      </div>


      <div class="row">
        <div class="col-md-4 col-xs-12 service">
          <i class="glyphicon glyphicon-comment outsourcing"></i>
          <h3 class="service-number">04</h3>
          <h2 class="outsourcing">{% t services.outsourcing.name %}</h2>
          <p class="col-xs-12 col-md-12">{% t services.outsourcing.short %}</p>
        </div>
        <div class="col-md-4 col-xs-12 service">
          <i class="glyphicon glyphicon-signal monitoreo"></i>
          <h3 class="service-number">05</h3>
          <h2 class="monitoreo">{% t services.monitoring.name %}</h2>
          <p class="col-xs-12 col-md-12">{% t services.monitoring.short %}</p>
        </div>
        <div class="col-md-4 col-xs-12 service">
          <i class="glyphicon glyphicon-education capacitacion"></i>
          <h3 class="service-number">06</h3>
          <h2 class="capacitacion">{% t services.training.name %}</h2>
          <p class="col-xs-12 col-md-12">{% t services.training.short %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
