<div class="page-content the-team-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading-team">¿QUIÉNES <b>SOMOS?</b></h1>
      </div>
    </div>
    <div class="row team-row">
      <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/leo.png" alt="foto">
        <h4 class="team-name">LEANDRO DI TOMMASO</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/yo.png" alt="foto">
        <h4 class="team-name">CHRISTIAN RODRIGUEZ</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/leo.png" alt="foto">
        <h4 class="team-name">ANA INÉS MARDON</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/nahuel.jpg" alt="foto">
        <h4 class="team-name">NAHUEL CUESTA LUENGO</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/leo.png" alt="foto">
        <h4 class="team-name">GERÓNIMO AFONSO</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/yo.png" alt="foto">
        <h4 class="team-name">GUSTAVO VACA</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/leo.png" alt="foto">
        <h4 class="team-name">FEDERICO COSCARELLI</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/yo.png" alt="foto">
        <h4 class="team-name">ANTONELLA COSCARELLI</h4>
<!--         <div class="row">
          <div class="social-contact-team">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt github" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
