<section id="empresa"> <!-- Ancla para navegar por la web -->
<div class="page-content the-team-content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading-team">¿QUIÉNES <b>SOMOS?</b></h1>
      </div>
    </div>
    <div class="row team-row">
      <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">LEANDRO DI TOMMASO</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">CHRISTIAN RODRIGUEZ</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">ANA INÉS MARDON</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">NAHUEL CUESTA LUENGO</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">GERÓNIMO AFONSO</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">GUSTAVO VACA</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">FEDERICO COSCARELLI</h4>
      </div>
       <div class="col-md-3 team-link text-center">
        <img class="img-circle" src="/images/photo-user.png" alt="foto">
        <h4 class="team-name">ANTONELLA CONCARELLI</h4>
      </div>
    </div>
  </div>
</div>

