/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */

.site-footer {
  background-color: rgba(22, 74, 146, 0.92);
  padding: 4.5em;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
  /*padding: $spacing-unit 0;*/
}

.page-heading {
    font-size: 20px;
}

h1.page-heading-company {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  margin: 10% 0% 5% 0%;
  color: #727477;
}

h1.page-heading {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  margin: 10% 0% 5% 0%;
  color: #727477;
}

h1.page-heading-team {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  margin: 2em 0em 2.5em 0em;
  color: #727477;
}

h1.page-heading-clients {
  color: #727477;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  margin: 10% 0% 5% 0%;
}

h1.page-heading-service {
  color: #727477;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  margin: 10% 0% 5% 0%;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.first-level-menu {
  background-color: #0E3B72;
  font-size: 0.8em;
  font-weight: normal;
  text-align: right;
  padding: 0.5em 0em 0.5em 0em;
}

.first-level-menu ul {
  margin-bottom: 0em;
  padding-right: 8%;
}

.first-level-menu ul li {
  display: inline;
}

.first-level-menu ul li span a {
  color: white;
  text-decoration: none;
  padding: 1em;
  transition: 300ms ease-in-out;
  &:hover {
    background-color: #0477BD;
    padding: 1em;
  }
}

.affix {
  width: 100%;
  top: 0em;
  z-index: 3;
}

.main-menu {
  width: 100%;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
  box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
}

.main-menu ul {
  margin-bottom: 0em;
}

.main-menu ul li{
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.main-menu ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 1.2em 01em 1.4em 1em;
  color: #717274;
  font-size: 0.9em;
}

.main-menu ul li.menu-item a:hover {
  border-bottom: 0.35em solid;
  padding-bottom: 1em;
  border-color: #002E56;
  color: #222427;
}

.main-menu-index {
  width: 100%;
  text-align: center;
  background:rgba(0,0,0,0);
 
}

.main-menu-index ul {
  margin-bottom: 0em;
}

.main-menu-index ul li{
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.main-menu-index ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 1.2em 01em 1.4em 1em;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  transition: 300ms ease-in-out;
  &:hover{
    color: rgba(255, 255, 255, 0.38)
  }
}

.logo-mikroways {
  margin-bottom: -8%;
}

.logo-mikroways-blanco {
  margin-bottom: -15%;
  margin-top: 5.5em;
}

.service-row {
  margin-bottom: 5em;
}

.service {
  &:hover{
  }
}

.service h3.service-number {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: -25px;
  padding-top: 0;
  padding-bottom: 0px;
  z-index: 20;
  font-weight: 600;
  color: rgba(228, 226, 226, 0.75);
}

.service i {
  font-size: 1.5em;
}

.service i.devops {
  color: #369ED8;
}

.service i.computacion {
  color: #0276BC;
}

.service i.consultoria {
  color: #154D94;
}

.service i.outsourcing {
  color: #7DC142;
}

.service i.monitoreo {
  color: #00A550;
}

.service i.capacitacion {
  color: #009A4A;
}

.service h2 {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 0.7em;
}

.service h2.devops {
  color: #369ED8;
}

.service h2.computacion {
  color: #0276BC;
}

.service h2.consultoria {
  color: #154D94;
}

.service h2.outsourcing {
  color: #7DC142;
}

.service h2.monitoreo {
  color: #00A550;
}

.service h2.capacitacion {
  color: #009A4A;
}

.service p {
  color: #76787A;
  font-size: 0.9em;
  font-weight: 300;
  text-align: left;
  line-height: 1.8em;
  padding-right: 1.5em;
  min-height: 10em;
  max-height: 10em;
}

.service a {
  padding: 0.3em 0.6em 0.3em 0.6em;
  transition: 300ms ease-in-out;
  &:hover{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
  }
}

.service a i {
  color: white;
  font-size: 13px;
}

.service a.devops {
  background-color: #369ED8;
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(54,158,216,0.54);
  }
}

.service a.computacion {
  background-color: #0276BC; 
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(2,118,188,0.54); 
  }
}

.service a.consultoria {
  background-color: #154D94;
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(21, 77, 148, 0.54);
  }
}

.service a.outsourcing {
  background-color: #7DC142; 
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(125,193,66,0.54); 
  }
}

.service a.monitoreo {
  background-color: #00A550; 
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(0,165,80,0.54); 
  }
}

.service a.capacitacion {
  background-color: #009A4A; 
  transition: 300ms ease-in-out;
  &:hover{
    background-color: rgba(0,154,74,0.54); 
  }
}


.partners {
  float: left;
  width: 28em;
  height: 28em;
  margin: 1em;
}

.chef-partner {
  margin-top: 0em;
  background-color: white;
  padding: 4em;
  text-align: center;
  min-height: 425px;
  max-height: 425px;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  transition: 300ms ease-in-out;
  &:hover {

  }
}

.amazon-partner {
  margin-top: 0em;
  background-color: white;
  padding: 4em;
  text-align: center;
  min-height: 425px;
  max-height: 425px;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  transition: 300ms ease-in-out;
  /*border: solid 1em #ffffff;*/
  &:hover {
   
  }
}

.partnerships-logo {
  text-align: center;
}

img.partnerships.amazon{
  width: 50%;
  margin-bottom: 2.5em;
  margin-top: 2em;
}

img.partnerships.chef{
  width: 30%;
  margin-bottom: 2em;
}


object.partnerships {
  width: 7em;
  height: 7em;
}

#alianzas {
  background-color: #f2f2f2;
}

.all-partners {
  margin-bottom: 10%;
}

.columns p {
  text-align: justify;
  font-weight: 400;
  font-size: 0.9em;
  color: #727477;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.8em;
}

h3.partner-title.chef {
    font-size: 2em;
    font-weight: 700;
    color: #727477;
    text-align: left;

}

h3.partner-title.amazon {
  text-align: left !important; 
  font-size: 2em;
  font-weight: 700;
  color: #727477;
}

.company-steps {
  font-size: 2em;
  font-weight: 100;
  color: gray;
  text-transform: uppercase;
  padding-top: 0em;
  text-align: center;
  margin-bottom: 2em;
}

/* background setup */
.background {
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50%\9 !important;
  margin-top: 2em;
  /** background-color: #154D94; **/
  /*background-image: url("/images/partnership-background.png");*/
  background-color: white;
  width: initial;
  height: auto;
  position: relative;
  background-size: cover;
  /** z-index: -999; */
  z-index: 0;
}

.fullscreen,
  .content-a {
      width:100%;
      height:100%;
      overflow:hidden;
  }
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
  display:table;
  margin-bottom: 10em;
}

.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
}

.index-body {
  
}

#partnership-title{
  color: white;
}

/* background setup */
.background-index {
  background-repeat: no-repeat;
  background-position: 50% 30% !important;
  top: 2em;
  background-image: url("/images/index-background.png");
  background-color: #0276BC;
  width: initial;
  height: auto;
  position: absolute;
  background-size: cover;
  /** z-index: -999; */
  z-index: 2;
}

.fullscreen-index {
  height: 100%;
}

.fullscreen-index,
  .content-a {
    width:100%;
    height:100%;
    overflow:hidden;
  }
.fullscreen-index.overflow,
.fullscreen-index.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a.index-a {
  display:table;
}

.content-b.index-b{
  display:table-cell;
  position:relative;
  vertical-align: middle;
  top: 0em;
  text-align: center;
}


.servicios {
  margin-top: 50em;
  margin-bottom: 3em;
}

h1.caption {
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 4em;
  line-height: 0.8em;
}

.wrapper.index  {
  margin-top: -10em;
}

.wrapper.index p {
  margin-top: 3.5em;
}

.wrapper.index p a {
  margin-right: 1em;
}

.wrapper.index p a.know-more {
  background-color: #0276BC;
  border: 0.2em solid;
  border-radius: 0em;
  border-color: white;
  color: white;
  transition: 300ms ease-in-out;
  &:hover{
    border-color: #fbfbfb;
    color: #0477BD;
    background-color: #F7FFFF;
  }
}

.wrapper.index p a.contact-us {
  background-color: #002E56;
  border: 0.2em solid;
  border-radius: 0em;
  border-color: #002E56;
  color: white;
  transition: 300ms ease-in-out;
  &:hover{
    border-color: #002E56;
    background-color: #0477BD;
    border-color: #002E56;
    color: #002E56;
  }
}

i.chevron-down {
  color: white;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.44);
  border: 0px solid #000000;
  padding: 0.5em;
  margin-top: 6.8em;
  &:hover{
    color: rgba(255, 255, 255, 0.32);
  }
}

.footer-chevron-up {
  text-align: right;
  margin-top: 0em;
  margin-bottom: 1em;
}

.map-style {
  background-color: #ECECEC;
}

.contact-box {
  background-color: #ECECEC;
  padding: 3em;
}

#contact-us {
  background-color: #ECECEC;
}

.contact-box h1.title {
  font-weight: 100;
  font-size: 2.5em;
  margin-bottom: 1.5em;
  text-align: center;
  color: #555;
  margin: 10% 0% 5% 0%;
}

.contact-data p {
  padding: 1em;
  text-align: center;
  margin-bottom: 2em;
  color: #333;
}

.contact-data p i {
  color: #333333;
  margin-right: 1em;
  padding: 1.5em;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid #ccc;
  background-color: white;
}

.contact-data p i.phone {
  color: #80c248;
}

.contact-data p i.envelope {
  color: #00a550;
}

.contact-data p i.home {
  color: #009A4A;
}

.form-group {
  text-align: right;
  input {
    border-radius: 0px;
    padding: 1.8em;
    border: none;
  }
  textarea {
    border-radius: 0px;
    border: none;
  }
  .cancel-button {
    border-radius: 0em;
    background-color: #fbfbfb;
    color: #939597
  }
  .submit-button {
    border-radius: 0em;
    background-color: #469742;
    color: white !important;
    padding: 1em 3em 1em 3em;
    margin-top: 1em;
  }
}

.footer-icons {
  margin-top: 6em;
}

.footer-icons ul {
  display: inline-flex;
  text-align: center;
  text-orientation: none;
}

.footer-icons ul li {
  padding: 1em 1.3em 1em 1.3em;
  margin-right: 0.5em;
  list-style-type: none;
  &:hover{
    padding: 1em 1.3em 1em 1.3em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    background-color: #164A92;
    color: white;
  }

}

.footer-icons ul li a {
  color: white;
}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.1em;
  border-color: #4D688B;
}

p.verticaline {
    border-left: 0.1em solid #fbfbfb;
}

.verticalLine {
  border-left: 0.1em solid #fbfbfb;
  padding-left: 5em;
}

.footer-style {
  font-size:  0.8em;
  font-weight: 400;
}

.footer-style.logotype {
  margin-top: 0em;
}


.footer-menu-service ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  margin-top: 8em;
}

.footer-menu-service ul li {
  float: left;
}

.footer-menu-service ul li a{
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1em;
  &:hover {
    color: rgba(255, 255, 255, 0.47);
  }
}

.footer-contact-data {
  color: white;
  line-height: 2em;
  font-weight: 300;
}

.clients-row {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

.clients-row i {
  color: #A7A7A7;
  font-size: 0.9em;
  padding: 1em;
}

.clients-row a {
  color: gray;
  font-size: 1em;
  text-decoration: none;
  font-weight: 300;
}

.clients-link img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 300ms ease-in-out;

  &:hover {
    -webkit-filter: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.page-content.the-team-content {
  margin-bottom: -3em;
}

.team-row {
  margin-bottom: 2.5em;
}

.team-link img {
  width: 68%;
  border: solid 0.7em #eee;
  background-color: #ffffff;
  transition: 300ms ease-in-out;
  &:hover {
    padding: 0.7em;
  }
}

.team-link {
  h4.team-name {
    color: #727477;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 0.9em;
  }

  h6.team-ocupation {
    color: #727477;
    font-weight: 300;
  }
}

.img-circle {
    border-radius: 100%;
}

.company-columns {
  text-align: center;
  
  p {
    text-align: justify;
    text-justify: inter-word;
    color: rgba(85, 85, 85, 0.83);
    text-align: justify;
    text-justify: inter-word;
    color: #999;
    font-weight: 300;
    font-size: 0.9em;
    padding: 2em;
  }
  
  i.signal {
    margin-top: 1.3em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    padding: 1.5em;
    font-size: large;
    transition: 300ms ease-in-out;
    background-color: white;
    border: 1px solid #ccc;
    color: #369ed8;
    &:hover{
      padding: 1.5em;
      background-color: #369ed8;
      border: 1px solid #369ed8;
      color: white;
    }
  }

  i.users {
    margin-top: 1em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    padding: 1.5em;
    font-size: large;
    transition: 300ms ease-in-out;
    background-color: white;
    border: 1px solid #ccc;
    color: #7dc142;
    &:hover{
      padding: 1.5em;
      background-color: #7dc142;
      border: 1px solid #7dc142;
      color: white;
    }
  }

  i.trophy {
    margin-top: 1em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    padding: 1.5em;
    font-size: large;
    transition: 300ms ease-in-out;
    background-color: white;
    border: 1px solid #ccc;
    color: #00a550;

    &:hover{
      padding: 1.5em;
      background-color: #00a550;
      border: 1px solid #00a550;
      color: white;
    }
  }

  i.bullhorn {
    margin-top: 1em;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    padding: 1.5em;
    font-size: large;
    transition: 300ms ease-in-out;
    background-color: white;
    border: 1px solid #ccc;
    color: #0276bc;

    &:hover{
      padding: 1.5em;
      background-color: #0276bc;
      border: 1px solid #0276bc;
      color: white;
    }
  }
}

.company-columns.bottom {
  margin-bottom: 10%;
}

.company-content {
  background-color: #f5f5f5;
}

.clients-content {
  background-color: #FDFDFD;
}


object.scroll-style {
  width: 3%;
  margin-top: 4em;
  transition: 300ms ease-in-out;

  &:hover{
    transform: translate(0px, 50px);
  }
}

.map-overlay {
  background:transparent; 
  position:relative; 
  width: 100%;
  height:480px;
  top:480px;
  margin-top:-480px;
}

.map-frame {
  width: 100%;
  height: 100%;
  position: relative;
}

.error {
  color: #a94442;
  font-weight: 400;
  font-size: 0.9em;
}

.clients-brand {
  padding: 2.8em 0.8em;
  background: #f2f1ed;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 1em;
  text-align: center;
  margin: 0 0 2% 2%;
  float: left;
  transition: 300ms ease-in-out;
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 70%;
  }
}

.brands {
  margin-bottom: 10%;
}

b, strong {
  font-weight: 400;
}

/*section#clientes {
  margin-bottom: 3em;
}*/

.social-contact-team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  li { 
    float: left;
    margin: 0.3em;
    a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 0.6em;      
      i.facebook {
        padding: 1em 1.1em;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 1px solid #ccc;
        color: #369ed8;
        &:hover {
          background-color: #369ed8;
          color: white;
          border: 1px solid #369ed8;
        }
      }
      i.linkedin {
        padding: 1em;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 1px solid #ccc;
        color: #0276bc;
        &:hover {
          background-color: #0276bc;
          color: white;
          border: 1px solid #0276bc;
        }
      }
      i.github{
        padding: 1em;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 1px solid #ccc;
        color: #154d94;
        &:hover {
          background-color: #154d94;
          color: white;
          border: 1px solid #154d94;
        }
      }
    }
  }
}

// Typed.js styles

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}