/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

h1.page-heading {
  text-align: center;
  font-size: 29px;
  font-weight: 100;
  margin: 2em 0em 3em 0em;
  color: #727477;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.first-level-menu {
  background-color: #002E56;
  font-size: 0.8em;
  font-weight: normal;
  text-align: right;
  padding: 0.5em 0em 0.5em 0em;
}

.first-level-menu ul {
  margin-bottom: 0em;
  padding-right: 8%;
}

.first-level-menu ul li {
  display: inline;
}

.first-level-menu ul li span a {
  color: white;
  text-decoration: none;
  padding: 1em;
}

.first-level-menu a:hover {
  background-color: #0D3975;
  padding: 1em;
}

.affix {
  width: 100%;
  top: 0em;
  z-index: 1;
}

.main-menu {
  width: 100%;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
  -moz-box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
  box-shadow: 0px 6px 5px 0px rgba(102,102,102,0.2);
}

.main-menu ul {
  margin-bottom: 0em;
}

.main-menu ul li{
  display: inline;
}

.main-menu ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 1.2em 01em 1.4em 1em;
  color: #717274;
  font-size: 0.9em;
}

.main-menu ul li.menu-item a:hover {
  border-bottom: 0.3em solid;
  padding-bottom: 1.1em;
  border-color: #002E56;
  color: #222427;
}

.logo-mikroways {
  margin-bottom: -8%;
}

.service-row {
  margin-bottom: 5em;
}

.service i {
  font-size: 1.8em;
}

.service i.devops {
  color: #154D94;
}

.service i.computacion {
  color: #009A4A;
}

.service i.consultoria {
  color: #7DC142;
}

.service i.outsourcing {
  color: #369ED8;
}

.service i.monitoreo {
  color: #0276BC;
}

.service i.capacitacion {
  color: #00A550;
}

.service h2 {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 0.7em;
}

.service h2.devops {
  color: #154D94;
}

.service h2.computacion {
  color: #009A4A;
}

.service h2.consultoria {
  color: #7DC142;
}

.service h2.outsourcing {
  color: #369ED8;
}

.service h2.monitoreo {
  color: #0276BC;
}

.service h2.capacitacion {
  color: #00A550;
}

.service p {
  color: #76787A;
  font-size: 0.9em;
  font-weight: 300;
  text-align: left;
  line-height: 1.8em;
  padding-right: 1.5em;
}

.service a {
  padding: 0.4em 0.6em 0.4em 0.6em;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin: 80%;
}

.service a.devops{
  background-color: #154D94;
}

.service a.computacion {
  background-color: #009A4A;
}

.service a.consultoria {
  background-color: #7DC142;
}

.service a.outsourcing {
  background-color: #369ED8;
}

.service a.monitoreo {
  background-color: #0276BC;
}

.service a.capacitacion {
  background-color: #00A550;
}

.chef-partner-background {
  padding: 6em;
  background: url(/images/ambos-fondos.svg);
  background-repeat: repeat-x;
  background-position-y: 57em;
}

.chef-partner {
  margin-top: 6em;
}

.amazon-partner {
  margin-top: 10em;
}

.amazon-partner object.partnerships {
  background-color: white;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  -webkit-box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  width: 10em;
  height: 10em;
  padding: 0em;
  border-style: solid;
  border-color: #F7F7F7;
  border-width: 1em;
  -webkit-box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  -moz-box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  margin-top: 1.3em;
  margin-left: 5em;
  position: absolute;
}

.chef-partner object.partnerships {
  background-color: white;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  -webkit-box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  box-shadow: inset 0px 0px 29px -12px rgba(0,0,0,0.44);
  width: 10em;
  height: 10em;
  padding: 0em;
  border-style: solid;
  border-color: #F7F7F7;
  border-width: 1em;
  -webkit-box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  -moz-box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  box-shadow: 13px 12px 29px -12px rgba(0,0,0,0.44);
  margin-top: 1em;
  margin-left: 5em;
  position: absolute;
}

.columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 0.5em;
}

.columns p {
  text-align: left;
  font-weight: 400;
  font-size: 0.9em;
  color: white;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 1.8em;
}

.partner-title {
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin-top: 1em;

}