<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {{ content }} <!-- Contenido del index -->
    {% include first_level_menu.html %}
    {% include header.html %}

    <a href="#" name="empresa"></a> <!-- Ancla para navegar por la web -->
    <div class="page-content company-content">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-heading">NUESTRA <b>EMPRESA</b></h1>
          </div>
        </div>
        <h3 class="company-steps">Valores.</h3>
        <div class="row company-columns">
        	<div class="col-md-6">
        		<p>
        			<strong>Integridad</strong><br>
        			la honestidad al momento de evaluar nuestro trabajo y en lo que se refiere a las relaciones interpersonales, acompañada de la sinceridad para expresar nuestras opiniones en un marco de respeto y libertad, generan vínculos de confianza entre las personas y son valores fundamentales para lograr la transparencia como empresa y la integridad como individuos.
        		</p>
        	</div>
        	<div class="col-md-6">
        		<p>
    					<strong>Calidad</strong><br>
    					por propia satisfacción y por nuestro compromiso con los clientes, es de gran importancia que nuestro trabajo sea realizado con la calidad en su concepción, para lo que se tiene muy presente el respeto por las buenas prácticas y los estándares, a la vez que se hace especial hincapié en la capacitación y la innovación.
        		</p>
        	</div>
        </div>
        <div class="row company-columns">
        	<div class="col-md-6">
        		<p>
        			<strong>Compromiso</strong><br>
        			la satisfacción de nuestros clientes es tanto uno de nuestros principales objetivos como también nuestra carta de presentación ante nuevas oportunidades de trabajo. Por ello, realizamos nuestras tareas con un enorme sentido de la responsabilidad para cumplir en tiempo y forma con los compromisos asumidos.
    					
        		</p>
        	</div>
        	<div class="col-md-6">
        		<p>
        			<strong>Trabajo en equipo</strong><br>
        			consideramos que el aporte de cada persona tiene un gran valor y que la labor cooperativa y organizada contribuye al desarrollo individual y mejora la calidad de los resultados. En este aspecto, es de principal relevancia para la empresa el sentido del compañerismo y un ambiente de trabajo distendido y armonioso.
        		</p>
        	</div>
        </div>
        <legend></legend>
        <h3 class="company-steps">Misión.</h3>
        <div class="row company-columns">
        	<div class="col-md-6">
        		<p>
        			Nuestros <strong>clientes</strong> son empresas privadas, organizaciones sin fines de lucro y entes gubernamentales de cualquier dimensión que requieran asistencia en las áreas de la informática y la tecnología de la información, para quiénes:

    					Ofrecemos consultoría e implementación de herramientas y servicios que resuelvan sus necesidades de infraestructura informática.
    					Damos soporte y soluciones ante problemáticas que surjan en el funcionamiento de la infraestructura de TI existente.
        		</p>
        	</div>
        	<div class="col-md-6">
        		<p>
    					Brindamos capacitación al personal de sistemas para que puedan entender mejor y administrar de manera más simple y eficiente los servicios tecnológicos de la organización.
    					Para cumplir con nuestra tarea, analizamos junto con nuestros clientes sus problemáticas y los resultados que desean obtener, de manera que nuestro trabajo se adapte a sus necesidades particulares.
        		</p>
        	</div>
        </div>
        <legend></legend>
        <h3 class="company-steps">Objetivos.</h3>
        <div class="row company-columns">
        	<div class="col-md-6">
      			<ul>
      				<li>
      					<i class="fa fa-check-circle" aria-hidden="true"></i> Lograr que la infraestructura de TI de nuestros clientes funcione correctamente en el presente y que, a su vez, tenga la capacidad de adaptarse a las necesidades futuras, acompañando el crecimiento de la organización.
      				</li>
      				<li>
    						<i class="fa fa-check-circle" aria-hidden="true"></i> Generar vínculos humanos y de confianza con nuestros clientes, que nos permitan trabajar de forma conjunta y armoniosa, pudiendo establecer relaciones que perduren una vez finalizadas nuestras tareas.
      				</li>
      			</ul>
        	</div>
        	<div class="col-md-6">
      			<ul>
      				<li>
    						<i class="fa fa-check-circle" aria-hidden="true"></i> Que nuestra empresa sea conocida por la calidad y el cumplimiento de sus trabajos.
      				</li>
      				<li>
    						<i class="fa fa-check-circle" aria-hidden="true"></i> Poder captar nuevos clientes en base a recomendaciones y casos de éxito demostrables.
      				</li>
      			</ul>
        	</div>
    		</div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>