<!DOCTYPE html>
<html lang="{% t html.lang %}">
  {% include head.html %}
  <body>
    {% include first_level_menu.html %}
    {{ content }}
    <div class="fullscreen background">
      <div class="content-a">
        <div class="content-b">
          <div class="page-content">
            {% include services.html %}
            {% include partnerships.html %}
            {% include clients.html %}
            {% include company.html %}
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default hidden-xs" data-spy="affix" data-offset-top="38">
    {% include header.html %}
    </nav>
    {% include contacts.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
