---
layout: blog_default
---

{% assign cat = page.categories | first %}
{% assign color = site.blog.categories[cat].color %}
{% assign image = site.blog.categories[cat].image %}
<section class="post-page-image" style="background-color: {{ color }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <figure>
          <img src="{{ image }}">
        </figure>
      </div>
    </div>
  </div>
</section>

<div class="container blog-container">
  <div class="row">
    <div class="col-md-12">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="row">
    <div class="container">
      <header class="heading">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
      </header>
      <div class="post-content" itemprop="articleBody">
        <div class="content">
          <div class="author-bio">
            <div class="gravatar-style">
              <div class="col-md-12 chevron-back">
                <a href="/blog"><i class="fa fa-chevron-left fa-4x" aria-hidden="true"></i></a>
              </div>

              {% for author in page.authors %}
                <img class="gravatar" src="https://avatars3.githubusercontent.com/{{ author['username'] | to_gravatar }}?s=68" />
                <div class="row">
                  <div class="col-md-12 col-xs-12 post-meta-post">
                    <p class="author">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span itemprop="name">
                        <b>Autor</b><br> 
                        <a target="_blank" href="https://github.com/{{ author['username'] }}">{{ author['name'] }}</a>
                      </span>
                    </span>
                    </p>
                  </div>
                </div>
              {% endfor%}
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="content-style">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

    </div>
  </div>
</div>
